@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  background-color: #fbfbfb;
  font-size: 12px;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/* Logo Styles */
.navbar-brand img {
  width: 30px; /* ขนาดของโลโก้ */
  height: 30px;
  margin-right: 8px; /* ระยะห่างระหว่างโลโก้กับ "UDVC" */
}

/* "UDVC" Styles */
.navbar-brand h2 {
  margin: 0; /* ลบ margin ของ "UDVC" */
  font-size: 1.5rem; /* ขนาดตัวอักษรของ "UDVC" */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 202px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar Shadow */
.sidebar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Sidebar Transition */
.sidebar {
  transition: box-shadow 0.3s ease-in-out;
}

/* Hover Effect for Sidebar */
.sidebar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Active State for Sidebar */
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* เพิ่มสีพื้นหลังสำหรับเมนูที่ถูกเลือก */
.list-group-item.active {
  background-color: #007bff;
  color: #ffffff;
}

/* เพิ่มสีพื้นหลังสำหรับลิงค์ที่ถูกคลิกแล้ว */
.list-group-item:active {
  background-color: #007bff;
  color: #fff;
}
